<template name="newEvent">
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton path="events" text="Open"}}
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">Start a New Groovent</h1>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}
      <button class="button button-large button-full button-balanced">
        <i class="icon ion-android-boat"></i> Junk Boat Trip
      </button>
      <button class="button button-large button-full button-energized">
        <i class="icon ion-ios-paper-outline"></i> Syndicate Lottery - Mark 6.
      </button>
      <button class="button button-large button-full button-assertive">
        <i class="icon ion-man"></i> Clubbing Night Table <i class="icon ion-woman"></i>
      </button>
      <button class="button button-large button-full button-royal">
        <i class="icon ion-ios-sunny"></i> Group Holiday
      </button>
      <button class="button button-large button-full button-dark">
        <i class="icon ion-android-color-palette"></i> Paintball
         <i class="icon ion-android-locate"></i>
      </button>
      <button class="button button-large button-full button-assertive">
        <i class="icon ion-wineglass"></i> Wine Tasting
      </button>
    {{/ionContent}}
  {{/ionView}}

</template>