<template name="newEventForm">
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton path="newEvent" text="Back to Type"}}
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}
      {{#autoForm collection="Events" id="events-new-form" type="insert"}}
          <div class="bar bar-header bar-stable">
            <button data-dismiss="modal" id="cancel" type="button" class="button button-clear">Cancel</button>
            <h2 class="title">New Groovent Details</h2>
            <button type="submit" class="button button-positive button-clear">Submit</button>
          </div>
          <div class="content has-header overflow-scroll">
            {{> afQuickFields}}
          </div>
      {{/autoForm}}
    {{/ionContent}}
  {{/ionView}}
</template>