<template name="index">
  {{#contentFor "headerTitle"}}
    <h1 class="title">Groovents</h1>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}
    <div class="center">
      <img class="splash" src="/images/splashscreen.jpg?v2" style="width:90%; height:100%"/>
    </div>
    {{/ionContent}}
  {{/ionView}}
</template>

<template name="events">
  {{#contentFor "headerTitle"}}
    <h1 class="title">Open Groovents</h1>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}
      {{#ionList}}
        {{#each events}}
          {{#ionItem path="event" buttonRight=true avatar=true class="item-icon-right"}}
              {{#if this.avatar}}
                <img src="{{this.avatar}}">
              {{else}}
                <img src="/images/default-profile.jpg">
              {{/if}}

              {{this.title.main}}
              {{this.location.district}}
              {{this.date.time}}
              <span class="badge badge-assertive">{{count this._id}}</span>
            {{> ionIcon icon="ios-arrow-forward" class="positive"}}
          {{/ionItem}}
        {{/each}}
      {{/ionList}}
    {{/ionContent}}
  {{/ionView}}
</template>