<template name="loginMessage">
  {{#ionView}}
    {{#ionContent}}
    <div class="card">
      <div class="center item item-text-wrap">
        <div>Please Login First.</div>
        <br>
        <div>{{>loginButtons}}</div>
      </div>
    </div>
    {{/ionContent}}
  {{/ionView}}
</template>