<template name="receipt">
  {{#contentFor "headerTitle"}}
    <h1 class="title">Receipt</h1>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}

      <div class="card">
        <div class="item item-divider">
          Receipt Number: 001
        </div>
        <div class="item item-text-wrap center">
          <img src="/images/qr-code.png">
        </div>
        <div class="item item-divider">
          Boat Trip on 22nd March
        </div>
      </div>

      <div class="card">
        <div class="item item-divider">
          Receipt Number: 002
        </div>
        <div class="item item-text-wrap center">
          <img src="/images/qr-code.png">
        </div>
        <div class="item item-divider">
          Boat Trip on 12th March
        </div>
      </div>

      {{#each receipts}}
        <div class="card">
          <div id="{{this._id}}" class="center item item-text-wrap">
            Receipt No: {{number}}
          </div>
        </div>
      {{/each}}
    {{/ionContent}}
  {{/ionView}}
</template>

<template name="receiptDetail">
  {{#contentFor "headerTitle"}}
    <h1 class="title">Receipt</h1>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}
        <div class="card">
          <div class="center item item-text-wrap">
            Receipt No: {{number}}
            Amount: {{amount}}
            Date: {{date}}
          </div>
        </div>
    {{/ionContent}}
  {{/ionView}}
</template>